# Week01 : Python Programming Basics

- **Student ID** :
- **Name** :

- Write and run the code below (including Quiz) in jupyter notebook
- After completion, rename the file, and summit the file to e-class
- Submit file name : **“Week01_\<StudentID\>_\<Name\>.ipynb”**
  - Ex) Week01\_2023123456\_홍길동.ipynb
- Due : **Saturday 11:59pm**

# Markdown
- When you select 'Markdown', you can edit the contents using Markdown language. Then run the cell
- You can double click the Markdown cell to edit the contents
- Try double click this cell !

---

# Comments
- Some sentences to explain the codes
- Comments are not included in the codes

In [ ]:
# Type Comments
# This is a comment in Python

# print a string
print("hello")

hello

---

# Constants
* **Fixed values**(unchangeable numbers, strings etc)
* **Datatypes**

**1. Numbers**
   - Integer: -2, 0, 100
   - Real numbers: -2.5, 0.0, 99.9

In [ ]:
# run 1 + 2
1+2

3

In [ ]:
# print the output of 1 + 2
print(1+2)

# print the output of 1.0 / 3.0
print(1.0/3.0)

3
0.3333333333333333

**2. String**  
  - Single/double quotation marks(' or ")
  - ‘hello’, “hello”

In [ ]:
# print two strings 'Machine' and 'Learning'
print('Machine', 'Learning')

Machine Learning

**3. Logical**  
  - True, False

In [ ]:
# print two boolean values True and False
print(True, False) # Boolean

True False

**4. Special**
  - None

In [ ]:
# print special value None
print(None)

None

* **Data Type Check : type()**

In [ ]:
# check the data type of an integer 100
type(100)

int

In [ ]:
# check the data type of a string 'Machine Learning'
type('Machine Learning')

str

- **Dynamic Typing**

In [ ]:
# add an integer 10 and a float number 0.1 and check their type
type(10 + 0.1)

float

* **Casting**

In [ ]:
# cast a float number 10.4 to an integers
int(10.4)

10

---

# Variables
- **Named memory to store values**
  - Name consist of alpha-numeric characters and underscores (A-z, 0-9, and _ )
  - Name cannot start with a number

In [ ]:
x = 20
y = 30
z = x + y

# print z
print(z)

# check the data type of z
type(z)

50

int

In [ ]:
s1 = "Hello "
s2 = "world!"

# print s1 + s2
print(s1 + s2)

# check the data type of s1 + s2
type(s1 + s2)

Hello world!

str

* **Basic opeartion of string**

In [ ]:
# print "====================" using string multiplication
line = "===================="
print(line)

====================

In [ ]:
# use len() to get the length of the string ml
print(len('machine learning'))

16

---

# Conditional Statements

* **If**  
  - If statement is control flow statements which helps us to run a particular code only when a certain condition is satisfied.


>**Note**
>- In Python, **blocks are marked as indentations** in functions, iteration statements and conditional statements, etc.
>- It is strongly recommended that **you do not use the tab** (system-specific but high probability output an error). The PEP-8 is the official coding guide recommends **four spaces with space bar**. However, various IDEs such as Jupyter lab, Pycham, and others automatically do identation.

In [ ]:
# convert user input to integer
x = int(input())

# check the conditions of x
# if x < 10, print 'small'
# else if x < 100, print 'medium'
# else (100 <= x), print 'large'

if x < 10:
    print('small')
elif x < 100:
    print('medium')
else:
    print('large')

20
medium

* **Boolean Operator**

**1. and (&)**

In [ ]:
# use and to compare two conditions
(1 == 1) and (1 == 0)

False

**2. or(|)**

In [ ]:
# use or to compare two conditions
(1 == 1) or (1 == 0)

True

**3. not**

In [ ]:
# use not to negate a condition
not (1 == 0)

True

---

# Iteration Statements

## while
  - The while statement enables the execution of a body of statements multiple times in a loop while a certain condition is true.

In [ ]:
# while statement
# print n from 5 to 1 using while n > 0

n = 5
while n > 0:
    print(n)
    n -= 1

5
4
3
2
1

In [ ]:
# infinite Loop with break statement
# print n from 5 to 1 using while True and break if n <= 0

n = 5
while True:
    if n <= 0:
        break
    print(n)
    n -= 1

5
4
3
2
1

## for
- for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.
- **list** : a compound data types like an array in C (will be addressed)

In [2]:
# sum of all numbers from 1 to 10
total = 0
mylist = [1,2,3,4,5,6,7,8,9,10]

# use for loop to sum all numbers in mylist
for i in mylist:
    total = total + i

print(total)

55

- **range(n)** : it returns a list of the numbers that consists 0 to n-1

In [3]:
# sum of all numbers from 0 to 9
total = 0

# use range() to get a list of numbers
for i in range(10):
    total = total + i

print(total)

45

---

# Function
- **A named section of a program that performs a specific task. It can takes some parameters. It is reusable code**
  - **Built-in function(refer to the link below)**
    - print(), input(), ...
    - https://docs.python.org/3/library/functions.html
  - **User-defined function**
    > ```python
    def function_name(arg_1, arg_2, …) :
         # algorithms
         return something
  ```

In [4]:
# function to convert km to mile
def km_to_mile(km):
    mile = km / 1.6        # 1 mile == 1.6 km
    return mile

# get input and cast to float
km = float(input('Input km : '))

# convert km to mile by calling the function
mile = km_to_mile(km)

print('It is', mile, 'mile')

Input km : 42
It is 26.25 mile

---

# Container : List, Dict, Tuple, Set

* **Container**
  - Data structure for storing variables
* **In python there are four data structures - lists, dict, tuple, and set**
   - **list          [ , ]**
   - **dict         { , }**
   - **tuple      ( , )**
   - **set          { , }**
- When programming in python, it is important to understand the characteristics of the four containers and write the appropriate data structures for your situation

---

## List
- **A list is a data structure that stores ordered sequence of items**
  - It can be initialized as **[item1, item2, …]**
  - It can be initialized by the function **‘list()’** and then append new item by the function **‘list.append(item)’**

In [7]:
# make the list named 'fruits', [ "apple", "banana", "orange" ]
fruits = [ "apple", "banana", "orange" ]
fruits

['apple', 'banana', 'orange']

In [8]:
# append 'kiwi' to the list 'fruits'
fruits.append('kiwi')
fruits

['apple', 'banana', 'orange', 'kiwi']

In [9]:
# print the first element of list 'fruits'
fruits[0]

'apple'

- **Index of list**
  - n:m : it means from 'n' to 'm-1'

In [11]:
# Indexing & Slicing (1)
mylist = [10, 20, 30, 40, 50 ]

# print index 1 element of the list
print(mylist[1])

# print last element of the list using index '-1'
print(mylist[-1])

# print index 1 to index 2 of the list
print(mylist[1:3])

# print start to index 2 of the list
print(mylist[:3])

# print index 3 to end of the list
print(mylist[3:])

20
50
[20, 30]
[10, 20, 30]
[40, 50]

* **Functions with the list as a parameter and methods of the list**
 - Find other functions : https://docs.python.org/3/tutorial/datastructures.html

In [12]:
# functions & methods
numbers = [20, 50, 10, 40, 30]

# use len() to get the length of a list
print(len(numbers))

# use max() to get the maximum value of a list
print(max(numbers))

# use min() to get the minimum value of a list
print(min(numbers))

# use sum() to get the sum of all values in a list
print(sum(numbers))

# use list.sort() to sort a list
numbers.sort()
print(numbers)

5
50
10
150
[10, 20, 30, 40, 50]

* **Make list with for statement**

In [14]:
# make a list with all even numbers from 0 to 100 using for and range()
even_numbers = []

# use for to create even_numbers from [0, 1, 2, ... , 100]
for i in range(101):
    if i % 2 == 0:
        even_numbers.append(i)

print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

* **List comprehension** - offers a shorter syntax when you create a new list based on the values of an existing list

In [13]:
# use list Comprehension to create even_numbers from [0, 1, 2, ... , 100]
even_numbers = [i for i in range(101) if i % 2 == 0]

print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

* **Nested list**

In [17]:
# make nested list [[1, 3, 5, 7, 9], [0, 2, 4, 6, 8]]
odd_numbers = [ i for i in range(10) if i % 2 == 1]
even_numbers = [ i for i in range(10) if i % 2 == 0]

nested_list = [odd_numbers, even_numbers]

print(nested_list)

[[1, 3, 5, 7, 9], [0, 2, 4, 6, 8]]

In [18]:
# index of nested list

# print the first list
print(nested_list[0])

# print the second element of the first list
print(nested_list[0][2])

[1, 3, 5, 7, 9]
5

---

## Dictionary
- **A dictionary is a data structure that stores unordered `<key : value>` pairs**
    - It can be initialized as **{  key : value , key : value , …  }** or
    - Make empty dictionary using **‘dict()’**, and then insert the new (key, value) pair
    - List : items are **indexed by location(integer)**
    - Dictionary : values are **indexed by keys**

In [ ]:
# list of 30 , 10 , 20
num_list = [30, 10, 20]

# print the 3rd element of the list
print(num_list[2])

20

In [19]:
# dictionary of 'red' : 30 , 'blue' : 10 , 'yellow' : 20
word_count = {'red' : 30, 'blue': 10, 'yellow' : 20}

# print the value of the key 'red'
print('red is', word_count['red'])

# set the value of the key 'green' to 5
word_count['green'] = 5

print(word_count)

red is 30
{'red': 30, 'blue': 10, 'yellow': 20, 'green': 5}

* **methods of dictionary**

**1 .items()**

In [ ]:
# use .items() to get a list of key-value pairs
word_count.items()

dict_items([('red', 30), ('blue', 10), ('yellow', 20), ('green', 5)])

**2. .keys()**

In [ ]:
# use .keys() to get a list of keys
word_count.keys()

dict_keys(['red', 'blue', 'yellow', 'green'])

**3. .values()**

In [20]:
# use .values() to get a list of values
word_count.values()

dict_values([30, 10, 20, 5])

* **list vs. dictionary**

In [ ]:
# list
# create a list and append 185 and 78 to the list
lst = list()
lst.append(185)
lst.append(78)
print(lst)

# print the first element of the list
print(lst[0])

[185, 78]
185

In [21]:
# dictionary
# create a dictionary and set height to 185 and weight to 78
my_dict = dict()
my_dict['height'] = 185
my_dict['weight'] = 78
print(my_dict)

# print the value of the key 'height'
print(my_dict['height'])

{'height': 185, 'weight': 78}
185

* **Make dictionary with for statement**

In [22]:
# make 'vocab' dictionary from a sentence (1)
# split the sentence into words
vocab_list = "Life is like a box of chocolates".split(" ")
print(vocab_list)

vocab = {}

# make 'vocab' dictionary from a sentence using enumerate
for k, v in enumerate(vocab_list):
    vocab[v] = k
print(vocab)

['Life', 'is', 'like', 'a', 'box', 'of', 'chocolates']
{'Life': 0, 'is': 1, 'like': 2, 'a': 3, 'box': 4, 'of': 5, 'chocolates': 6}

* **Dictionary comprehension**

In [23]:
# make 'vocab' dictionary from a sentence (2)
vocab = { k : v for k, v in enumerate(vocab_list)}
print(vocab)

{0: 'Life', 1: 'is', 2: 'like', 3: 'a', 4: 'box', 5: 'of', 6: 'chocolates'}

---

## Tuple
- A tuple is a collection of items which is ordered and **unchangeable**.
  - It is more simple and efficient because the tuple is saved with the condition not to be changed in the future
  - ‘items()’ method of dictionary returns list of **(key, value)** tuples

In [ ]:
# tuple
x = (20, 30)
y = (20,)

print(x)
print(y)

(20, 30)
(20,)

In [25]:
# tuple and dictionary
ids = dict()

# set the value of the key 'tom' to 1234
ids['tom'] = 1234
# set the value of the key 'john' to 5678
ids['john'] = 5678

# print dictionary ids
print(ids)

# print all keys and values in ids using .items()
for (key, val) in ids.items():
    print(key, val)

{'tom': 1234, 'john': 5678}
tom 1234
john 5678

---

## Set
- A set is an unordered collection of items with no duplicates
   - It can be initialized as **{  item1, item2, …  }** or
   - It can be defined by the function **‘set()’**

In [26]:
# set
# create a set s containing 1, 2, and 3
s = {1, 2, 3}
print(s)

# set ignores duplicates
# create a list containing duplicates
lst = [1, 2, 2, 2, 3, 3, 1]

# create a set from the list
s = set(lst)
print(s)

{1, 2, 3}
{1, 2, 3}

- Set operations : **&, intersection(), |, union(), -, difference()**

In [27]:
# intersection, union, difference
set1 = set([1, 2, 3, 4])
set2 = set([2, 4, 6, 8])

# intersection
 # using &
print(set1 & set2)
 # using intersection function
print(set1.intersection(set2))

# union
 # using |
print(set1 | set2)
 # using union function
print(set1.union(set2))

# difference
 # using using -
print(set1-set2)
 # using difference function
print(set1.difference(set2))

{2, 4}
{2, 4}
{1, 2, 3, 4, 6, 8}
{1, 2, 3, 4, 6, 8}
{1, 3}
{1, 3}

---

# File processing

- **Opening the file**
  - open() – it returns the handle used to manipulate the file
  - The file handle is a sequence of each line of the file

In [ ]:
# open 'sample.txt' file and count lines
fhand = open('sample.txt', 'r')

# use for loop to count lines
count = 0
for line in fhand:
    count += 1

# use .close() to close the file
fhand.close()

print('total line :', count)

total line : 7

- **Read all contents of the file**
  - .read() – it reads all contents in the file and returns it as a sequence of a string

In [ ]:
# open & close
fhand = open("sample.txt")

# use .read() to read the file
mfile = fhand.read()

# print the file
print(mfile)

# use len() to print the length of the file
print('\n *** length of the file =', len(mfile))

# close the file
fhand.close()

Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[33]

Python is dynamically typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[34][35]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[36] Python 2.0 was released in 2000. Python 3.0, released in 2008, was a major revision not completely backward-compatible with earlier versions. Python 2.7.18, released in 2020, was the last release of Python 2.[37]

Python consistently ranks as one of the most popular programming languages.[38][39][40][41]

 *** length of the file = 916

---

# Class
- **Object = Attribute + Method**
  - Classes provide a means of bundling data and functionality together
  - Creating a new class creates a new type of object, allowing new instances of that type to be made
  - Class, Object and Instance : https://alfredjava.wordpress.com/2008/07/08/class-vs-object-vs-instance/

* **Creating a class**

In [29]:
# define a class named 'Car'

class Car:
    # define constructor with brand, year and current_speed as parameters
    def __init__(self, brand, year, current_speed):
        self.brand = brand
        self.year = year
        self.current_speed = current_speed

    # define a method accelate() to increase the current_speed by 10
    def accelate(self):
        self.current_speed += 10
        return self.current_speed

* **Creating objects**

In [30]:
# make 'car1', 'car2' objects

# create car1 with brand 'Toyota', year '1995', current_speed '100'
car1 = Car('Toyota', 1995, 100)

# create car2 with brand 'Hyundai', year '2000', current_speed '120'
car2 = Car('hyundai', 2000, 120)

* **Attributes & methods**

In [31]:
# print attributes, execute the method

# print car1 brand
print(car1.brand)

# print car1 current_speed
print(car1.current_speed)

# accelerate car1
car1.accelate()

# print car1 current_speed
print(car1.current_speed)

Toyota
100
110

---

---

# Quiz

### 1. input, while, if
- Write a program that continuously inputs numbers(positive integers), and outputs the counts, total, and average of the integers.
  - use while() and input()
- The program ends when the input is 0.
  - use if and break

In [32]:
count = 0
total = 0

############ Start of your code ############
while(True):
  a = int(input('Enter a number : '))
  if a == 0:
    break
  count += 1
  total += a
############# End of your code #############

print("Count = ", count)
print("Total = ", total)
print("Average = ", total/count)

Enter a number : 3
Enter a number : 5
Enter a number : 3
Enter a number : 5
Enter a number : 0
Count =  4
Total =  16
Average =  4.0

---

### 2. function, for, list
- The temperature (temp) and iced americano sales (sale) have the following relation
> `sale = 30.08 * temp - 159.47`  
- Define a function 'predict' to compute above equation
- For following list of temps for the next 10 days, make the list of sales(integers) for the next 10 days
  - use for and .append()
- Print the sales and average of them

In [33]:
temps = [11.9, 14.2, 15.2, 16.4, 17.2, 18.1, 18.5, 19.4, 22.1, 22.6]

############ Start of your code ############
def predict(temp):
  return int(30.08 * temp - 159.47)

sales = list()

for i in temps:
  sales.append(predict(i))

############# End of your code #############

print('Sales prediction = ', sales)
print('Average = ', sum(sales)/len(sales))

Sales prediction =  [198, 267, 297, 333, 357, 384, 397, 424, 505, 520]
Average =  368.2

---

### 3. dictionary  
- Change the scores in following dictionary into 'P' (if score >= 70) or 'F' and print the result
  - use for and if

In [34]:
scores = {
    'Tom':60,
    'Jane':95,
    'Bill':80,
    'Mary':55
}

############ Start of your code ############
def grade(score):
  if score >= 70:
    return 'P'
  else:
    return 'F'

for k, v in scores.items():
  scores[k] = grade(v)

############# End of your code #############

print('Scores =', scores)

Scores = {'Tom': 'F', 'Jane': 'P', 'Bill': 'P', 'Mary': 'F'}

---

### 4. class
- Create a 'Circle' class that has an attribute 'radius', and a method 'area()' that computes the area of the circle
- Create a 'Rectangle' class that has attributes 'width' and 'height', and a method 'area()' that computes the area of the rectangle
- Create an instance for each class, and print out the area of each instance.
- Set 𝜋 to 3.14.

In [39]:
############ Start of your code ############
# make Circle class
class Circle:
  def __init__(self, radius):
    self.radius = radius

  def area(self):
    return self.radius**2 * 3.14

# make Rectangle class
class Rectangle:
  def __init__(self, width, height):
    self.width = width
    self.height = height

  def area(self):
    return self.width * self.height

############# End of your code #############

circle1 = Circle(10)
rectangle1 = Rectangle(20, 30)

In [38]:
print('Area of circle1 =', circle1.area())
print('Area of retangle1 =', rectangle1.area())

Area of circle1 = 314.0
Area of retangle1 = 600